Connector sample XML/Connected Services/KFTMovilPosicion/KFTConnectorServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KFTConnectorServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KFTConnectorServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TypeKFTReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSuccesful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeKFTReturn" nillable="true" type="tns:TypeKFTReturn" />
</xs:schema>