Connector sample XML/Connected Services/KFTMovilPosicion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSMovilPosicionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/KFTConnectorServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSMovilPosicionService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_isLoginDone_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoginDone" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_isLoginDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoginDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_InsertDataXML_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataXML" />
  </wsdl:message>
  <wsdl:message name="IWSMovilPosicionService_InsertDataXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSMovilPosicionService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSMovilPosicionService/Login" message="tns:IWSMovilPosicionService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSMovilPosicionService/LoginResponse" message="tns:IWSMovilPosicionService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSMovilPosicionService/Logout" message="tns:IWSMovilPosicionService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSMovilPosicionService/LogoutResponse" message="tns:IWSMovilPosicionService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoginDone">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSMovilPosicionService/isLoginDone" message="tns:IWSMovilPosicionService_isLoginDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSMovilPosicionService/isLoginDoneResponse" message="tns:IWSMovilPosicionService_isLoginDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSMovilPosicionService/InsertDataXML" message="tns:IWSMovilPosicionService_InsertDataXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSMovilPosicionService/InsertDataXMLResponse" message="tns:IWSMovilPosicionService_InsertDataXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSMovilPosicionService" type="tns:IWSMovilPosicionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IWSMovilPosicionService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IWSMovilPosicionService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoginDone">
      <soap:operation soapAction="http://tempuri.org/IWSMovilPosicionService/isLoginDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataXML">
      <soap:operation soapAction="http://tempuri.org/IWSMovilPosicionService/InsertDataXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMovilPosicionService">
    <wsdl:port name="BasicHttpBinding_IWSMovilPosicionService" binding="tns:BasicHttpBinding_IWSMovilPosicionService">
      <soap:address location="http://kft-connector:8099/WSMovilPosicionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>